<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BiblioUnifor">
        <activity
            android:name=".TelaRF27RedefinirSenhaADM"
            android:exported="false" />
        <activity
            android:name=".TelaRF28NovaContaADM"
            android:exported="false" />
        <activity
            android:name=".TelaRF29GoogleADM"
            android:exported="false" />
        <activity
            android:name=".TelaRF40ConfigADM"
            android:exported="false" />
        <activity
            android:name=".TelaRF37ConfirmarCadastroADM"
            android:exported="false" />
        <activity
            android:name=".TelaRF39InfoLivroADM"
            android:exported="false" />
        <activity
            android:name=".TelaRF38ListaAlugueisADM"
            android:exported="false" />
        <activity
            android:name=".TelaRF36FinanceiroADM"
            android:exported="false" />
        <activity
            android:name=".TelaRF31GerenciamentoDeUsuarios"
            android:exported="false" />
        <activity
            android:name=".TelaRF35CadastroDeLivros"
            android:exported="false" />
        <activity
            android:name=".TelaRF32UsuariosParaADM"
            android:exported="false" />
        <activity
            android:name=".TelaRF11RedefinirSenha"
            android:exported="false" />
        <activity
            android:name=".TelaRF33Solicitacoes"
            android:exported="false" />
        <activity
            android:name=".TelaRF10Configuracao"
            android:exported="false" />
        <activity
            android:name=".TelaRF34LivrosCRUD"
            android:exported="false" />
        <activity
            android:name=".TelaRF03LoginAluno"
            android:exported="false" />
        <activity
            android:name=".TelaRF02Intermediaria"
            android:exported="false" />
        <activity
            android:name=".ui.screens.TelaRF09DashboardUsuario"
            android:exported="false" />
        <activity
            android:name=".ui.screens.TelaRF30DashboardADM"
            android:exported="false" />
        <activity
            android:name=".ui.screens.RF30TelaCRUD"
            android:exported="false" />
        <activity
            android:name=".TelaRF01BemVindo"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>