<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BiblioUnifor">
        <activity
            android:name=".TelaRF20SolicitacoesVoltarBiblioteca"
            android:exported="false" />
        <activity
            android:name=".TelaRF20SolicitacoesTermosCondicoes"
            android:exported="false" />
        <activity
            android:name=".TelaRF20Solicitacoes"
            android:exported="false" />
        <activity
            android:name=".TelaRF21Notificacoes"
            android:exported="false" />
        <activity
            android:name=".TelaRF22Historico"
            android:exported="false" />
        <activity
            android:name=".TelaRF23RenovacaoOnline"
            android:exported="false" />
        <activity
            android:name=".TelaRF08ConfirmarRedefinirSenha"
            android:exported="false" />
        <activity
            android:name=".TelaRF08RedefinirSenha"
            android:exported="false" />
        <activity
            android:name=".TelaRF07ValidacaoDeCodigo"
            android:exported="false" />
        <activity
            android:name=".ui.screens.TelaRF09DashboardUsuario"
            android:exported="false" />
        <activity
            android:name=".TelaRF30DashboardADM"
            android:exported="false" />
        <activity
            android:name=".TelaRF30CRUD"
            android:exported="false" />
        <activity
            android:name=".ui.screens.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>